{% extends 'base.html' %}

{% block head %}
<title>Comments</title>
{% endblock %}

{% block body %}
<form action="/" method="POST">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <textarea class="form-control" name="comment" placeholder="comment" rows="4"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2">
                <button name="button" class="btn form-control btn-primary" value="post_comment">Comment</button>
            </div>
            <div class="col-2">
                <button name="button" class="btn form-control btn-secondary" value="logout">Log Out</button>
            </div>
            <div class="col-4"></div>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th class='col-1'>Name</th>
                <th class='col-3'>Date & Time</th>
                <th class='col-8'>Comment</th>
            </tr>
            {% for comment in comments %}
            <tr>
                <td class='col-1'>{{ comment.user.name }}</td>
                <td class='col-3'>{{ comment.datetime_created.strftime('%Y/%m/%d %H:%M:%S') }}</td>
                <td class='col-8'>{{ comment.comment }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock %}