{% extends 'base.html' %} {% block head %}
<title>Stock News</title>
{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="page-header text-center">
    <h1>Stock News</h1>
  </div>
  {% for datum in data %}
  <div class="card align-items-center text-center mb-2">
    <img
      src="{{ datum.image }}"
      class="card-img-top"
      alt="Image Failed to Load"
      style="width: 500px; height: 200px; object-fit: cover;"
    />
    <div class="card-body">
      <h5 class="card-title">{{ datum.title }}</h5>
      <p class="card-text">{{ datum.text }}</p>
      <a href="{{ datum.url }}" class="btn btn-primary">Visit Page</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
